<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Home</title>
	    <!-- css style
	    <link href="style.css" rel="styleSheet" type="text/css"/>
		-->
	</head>

	<body id='body'>
		<!-- forms

		<form action='/body' id="showForm" method='post'>
			<input class='invis' name='user' id='user2' type='text' value='{{user}}'>
			<button id="show_movies" type='submit' class='but'>MY MOVIES</button>
		</form>
		-->
		yay

		<!-- script
		<script src=home.js></script>

		<script >
			document.getElementById('buy_but').addEventListener('click', function(){
				alert('please login befor using this function')
			})
		</script> 
		-->
	</body>
</html>